{% extends "base.html" %}

{% block content %}
  {% for post in posts.items %}
  <div class="container" style="display: flex;">
    <article class="media col-1" style="display: flex; flex-direction: column;">
      <img class="rounded-circle article-img" style="margin-right: 5px;" src="{{ url_for('static', filename='pictures/' + post.author.image_file) }}">
      <a href="{{ url_for('users.user_posts', username=post.author.username) }}" id="author" style="margin: 0 auto;">{{ post.author.username }}</a>
    </article>
    
    <div class="card col-6 offset-1" style="margin-bottom: 20px;">
      <div class="card-body">
        <h4 class="card-title"><a class="title" href="{{ url_for('posts.post', post_id=post.id) }}">{{ post.title }}</a></h4>

        <small>Posted {{ post.created.strftime('%A, %d %B %Y %I:%M %p') }}</small>
        <br>
        <br>
        <p class="card-text">{{ post.body }}</p>
      </div>
      <!-- <div class="card-footer" style="font-size: 20px;">
        <i class="fa fa-heart-o"></i>
        <i class="fa fa-bookmark-o"></i>
      </div> -->
    </div>
  </div>
  {% endfor %}

  {% for page_num in posts.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
    {% if page_num %}
      {% if posts.page == page_num %}
        <a class="btn btn-success mb-4 col-1 mx-2" href="{{ url_for('posts.allposts', page=page_num) }}">{{ page_num }}</a>
      {% else %}
        <a class="btn btn-outline-success mb-4 col-1 mx-2" href="{{ url_for('posts.allposts', page=page_num) }}">{{ page_num }}</a>
      {% endif %}
    {% else %}
      ...
    {% endif %}
  {% endfor %}
{% endblock %}
