{% extends "base.html" %}

{% block content_title %}
    Home page
{% endblock %}

{% block content %}
    <div class="col-md-6 offset-md-3">
        <h3>Добро пожаловать, о повелитель моего свободного времени.</h3>
        <p>Да не устанут твои глаза, и не утомится твой указательный палец
        в путешествиях по этому сайту.</p>
        <p>Да не пробудит в тебе гнев изысканный дизайн сей страницы.
            Homo sum et nihil humanum a me alienum puto.</p>
        <p>Как говорил Заратустра, Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Alias fuga ipsa nemo placeat repellendus. Corporis esse laborum
            optio repellat vel voluptatem, voluptatum! Adipisci ea eligendi
            illum nam obcaecati repellat vero.</p>
    </div>
{% endblock %}
